<div class="dijit dijitReset dijitInline">
    <div class="dijitReset dijitInputContainer tailf-dijit-form-select">
        <table>
            <tbody>
                <tr class="title-row">
                    <td class="tableContainer-labelCell">
                        <label></label>
                    </td>
                </tr>
                <tr class="select-row">
                    <td> 
                        <select></select> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
