<div class="dijit dijitReset dijitInline">
    <div class="dijitReset dijitInputContainer tailf-dijit-schema-action-input-list">
        <table>
            <tbody>
                <tr class="title-row">
                    <td class="tablecontainer-labelcell">
                        <label></label>
                    </td>
                </tr>
                <tr class="input-row">
                    <td> 
                        <div class='table-container'>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
     </div>
</div>
