<div class="dijit dijitReset dijitInline">
    <div class="dijitReset dijitInputContainer tailf-dijit-schema-leaflist">
        <table>
            <tbody>
                <tr class="title-row">
                    <td class="tableContainer-labelCell">
                        <label></label>
                    </td>
                </tr>
                <tr class="leaflist-content">
                    <td class="values">
                        <div></div>
                    </td>
                    <td class="actions"> 
                        <div></div> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

